.corner-logo {
  position: relative;
  bottom: -120px;
  left: 80%;
}

.background-bar {
  position: relative;
  bottom: 60px;
  width: 361.492px;
  height: 719.678px;
}

// .big-card {
//   color: white;
// }

.author-name {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-title {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
